/* query for LG range */

@media all and (min-width: 1200px) {
  .personal_container{
    min-width: 1170px;
  }
}

/* MD RANGE QUARY */
@media all and (min-width: 991px) and (max-width: 1200px){
  .personal_container{
    width: 970px;
  }

  /* query that manage the NAVBAR responsivnes */

  nav .ham{
    display:block;

  }

  nav ul{
    display:none;
  }

}



/* media for SM range */

/* querys that manage the navbar responsivnes */
@media all and (min-width: 768px) and (max-width:991px) {

  .personal_container{
    width:750px;
  }

  nav .ham{
    display:block;

  }

  nav ul{
    display:none;
  }
}


/* querys for the XS range */
@media all and (max-width: 768px){
 /* navbar querys */
  .personal_container{
    max-width:750px;
  }

  nav .ham{
    display:block;
  }

  nav ul{
    display:none;
  }


  /* featurees section query */
  #features .features_container{
    display: block;
  }

}
